.modalBox {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  
.modal_info{
    background-color: #fff;
    margin: 20% auto;
    padding: 30px 20px 20px 35px;
    width: 50%;
    margin: 100px auto;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
  }
  
  .closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal_div {
    width: 100%;
  }
 