#navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 126, 129);
}

#navbar a{
    color:white;
    text-decoration: none;
    transition: all 0.3s;
}

#navbar a:hover{
    color:lightcoral;
}