.home{
    padding: 100px 0px;
}

.home>button{
    background-color: #FAD02C;
    padding:10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    margin-left:20px;
    letter-spacing: 0.1em;
    border:2px solid black;
    transition: all 0.8s;
}

.home>button:active{
    transform: translateY(10px);
}

.home>input{
    outline: none;
    padding:8px 10px;
    border:none;
    border-bottom:1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.home>input::placeholder{
    font-family: 'Poppins', sans-serif;
}


.dishContainer{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap; 
}

