.outsidecontainer {
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #2196F3;
    padding: 10px;
  }
  .outsideitem {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .insidecontainer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .insideitems {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  .insideitems img{
      width:20%;
      height:140px;
      border-radius: 5px;
  }

  #stars{
      width:40px;
      height:30px;
      background-color: rgb(40, 165, 57);
      font-size: 25px;
      color:white;
      border-radius: 5px;
  }