@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#dashboard{
    position: absolute;
    height: 43px;
    width: 232px;
    left: 122px;
    top: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
}

#switchbtn{
    position: absolute;
    width: 87px;
    height: 45px;
    left: 530px;
    top: 68px;
    border-radius: 20px;
}

#mode{
    position: absolute;
    height: 16px;
    left: 445px;
    top: 70px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

#usersDiv{
    position: absolute;
    height: 544px;
    width: 392px;
    left: 122px;
    top: 130px;
    border-radius: 5px;
    padding:30px;
    padding-top: 5px;
}

#usersDiv>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

#headDiv>p:nth-child(1){
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
}

#headDiv>p:nth-child(2){
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 22px;
}