@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#listDiv{
    margin-bottom:30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
}
#small-container{
    display: grid;
    grid-template-columns: 12% 80% 10%;
    padding-bottom:20px;
}


#details{
    text-align: left;
    margin-left:5px;
}

#details>p{
    margin:0px;
    padding:0px;
    margin-bottom: 3px;
}

#shapediv{
    display: flex;
    align-items: center;
    margin-left: 15px;
}


#levelDiv{
    display: flex;
    justify-content: space-between;
}
